/*!CK:3822953763!*//*1429198989,*/

img._59up{display:none}a.AYMTTipButton.async_saving img._59up{display:block}._5fd8{max-width:183px;overflow:hidden;text-overflow:ellipsis}._3p1b._3p19 ._5fd8{max-width:236px}._3p19 ._5fd8{max-width:160px}._15cz{display:inline-block;max-width:183px;overflow:hidden;text-overflow:ellipsis;vertical-align:middle}._3p1b._3p19 ._15cz{max-width:236px}._3p19 ._15cz{max-width:160px}
._2ysn{color:#3b5998}
._3y5t{font-size:13px}
._47ca{margin-top:10px;padding:12px}._35vb{border:none;padding:12px}._47cb{font-weight:bold;line-height:18px}._512-{position:relative}._281a{padding-bottom:60px;padding-top:60px;text-align:center}

#bootloader_V5Qxg { height: 42px; }
.bootloader_V5Qxg { display:block !important; }