/*!CK:4173224280!*//*1429199048,*/

._2c44{height:0;left:auto;position:fixed;top:42px;width:496px;z-index:100}._2c44 ._2f6b{background:-webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f6f7f8));background:-webkit-linear-gradient(#ffffff, #f6f7f8);-webkit-background-clip:padding-box;border:1px solid rgba(0, 0, 0, .18);-webkit-border-radius:12px;-webkit-box-shadow:0 1px 6px rgba(0, 0, 0, .15);color:#3b5998;cursor:pointer;display:table;line-height:22px;margin:16px auto 0 auto;padding:2px 12px 0 12px;position:relative;z-index:100}._2c44 ._2f6b ._2c46{margin-right:8px;position:relative}
._4tdu{color:#373e4d}

#bootloader_lKZzY { height: 42px; }
.bootloader_lKZzY { display:block !important; }