/*!CK:1027758038!*//*1429198949,*/

._5s-q{margin:2px 0}._5s-r{margin-bottom:-3px}
._30zy{background-color:#478bff;color:#fff;display:inline-block;font-size:10px;overflow:hidden;padding:3px 5px}._3tgs{-webkit-border-radius:7px;font-family:'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;font-weight:lighter;height:8px;line-height:8px}._3tgt{-webkit-border-radius:10px;height:12px;line-height:12px;width:26px}._30zz{display:inline-block;vertical-align:6%}._3tgu{font-size:8px;line-height:8px}._3tgv{font-size:8px;line-height:12px;vertical-align:5%}

#bootloader_yUy8g { height: 42px; }
.bootloader_yUy8g { display:block !important; }